<!DOCTYPE html>
<html>
  <head>
    <title>Most Halted Bus Locations</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: {{ center_location.0 }}, lng: {{ center_location.1 }} },
          zoom: 6
        });

        {% for location in locations %}
            var marker_{{ forloop.counter }} = new google.maps.Marker({
                position: {lat: {{ location.0.0 }}, lng: {{ location.0.1 }} },
                map: map
            });

            var infowindow_{{ forloop.counter }} = new google.maps.InfoWindow({
                content: "Total halt duration: {{ location.1 }} <br> Lat: {{ location.0.0 }} Long: {{ location.0.1 }}"
            });

            marker_{{ forloop.counter }}.addListener('click', function() {
                infowindow_{{ forloop.counter }}.open(map, marker_{{ forloop.counter }});
            });
        {% endfor %}
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"
    async defer></script>
  </body>
</html>
